<div class="d-flex">
  <mat-card>
    <div class="flex-shrink-0">
      <img ng *ngIf="imageUrl.value!=''" class="img-fluid" src="{{ imageUrl.value }}">
      <img *ngIf="imageUrl.value==''" src="{{ placeHolderImageUrl }}">
    </div>
    <mat-card-title>{{ title.value }}</mat-card-title>
    <mat-card-title>{{ price.value | currency}}</mat-card-title>
    <mat-card-header>{{ category.value }}</mat-card-header>
  </mat-card>
  <div class="flex-grow-1 ms-3">
    <form #f="ngForm">
      <div class="form-container">
        <div>
          <mat-form-field style="width: 35vw" color="primary" appearance="outline">
            <mat-label>Title</mat-label>
            <input
              [(ngModel)]="product.title"
              #title="ngModel"
              name="title"
              required
              matInput>
            <mat-error *ngIf="title.invalid && title.errors.required">You must enter a title!</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field color="primary" appearance="outline">
            <mat-label>Price</mat-label>
            <input
              [(ngModel)]="product.price"
              #price="ngModel"
              name="price"
              required
              type="number"
              [min]="0"
              matInput>
            <span matPrefix>$</span>
            <mat-error *ngIf="price.invalid">
              <div *ngIf="price.errors.required">You must enter a price!</div>
              <div *ngIf="price.errors.min">Price must be at least 0!</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field color="primary" appearance="outline">
            <mat-label>Image Url</mat-label>
            <input
              [(ngModel)]="product.imageUrl"
              #imageUrl="ngModel"
              name="imageUrl"
              required
              url
              matInput>
            <mat-error *ngIf="imageUrl.invalid">
              <div *ngIf="imageUrl.errors.required">You must enter an image URL!</div>
              <div *ngIf="imageUrl.errors.url">Invalid Url</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field color="primary" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select [(ngModel)]="product.category" name="category" #category="ngModel">
              <mat-option></mat-option>
              <mat-option *ngFor="let category of categories$" [value]="category.name">{{ category.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button [disabled]="!f.valid" color="primary" mat-flat-button (click)="save(f.value)">Save</button>
          <button [disabled]="!f.valid" color="warn" mat-flat-button (click)="delete()">Delete</button>
        </div>
        <mat-progress-spinner color="primary" *ngIf="saving" mode="indeterminate"></mat-progress-spinner>
        <mat-progress-spinner color="warn" *ngIf="deleting" mode="indeterminate"></mat-progress-spinner>
      </div>
    </form>
  </div>
</div>

