.form-container {
  margin: 150px;
}

.mat-card {
  margin: 75px;
  text-align: center;
}

mat-card-title {
  font-size: 32px;
}

.img-fluid {
  margin: 25px;
  max-width: 400px;
  max-height: 350px;
  width: auto;
  height: auto;
}

.mat-flat-button {
  font-size: 22px;
  margin: 15px;
}

.mat-form-field {
  width: 35vw;
}
