.mat-label {
  background-color: #ECEFF1;
  width: 75%;
  justify-self: center;
}

.quantity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
