.form-container {
  margin: 15px;
}

.mat-card {
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 50px;
}

.mat-form-field{
  width: 80%;
}

.shipping {
  margin-left: 5%;
  float: left;
  width: 50%;
}

.order {
  float: right;
  margin-right: 5%;
  width: 35%;
}
.mat-table{
  width: 100%;
}

.mat-cell{
  font-size: 18px;
}
.mat-header-cell{
  font-size: 20px;
}
.mat-footer-cell{
  font-size: 20px;
  font-weight: bold;
}
